body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer';
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 88px 50px 90px 50px;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.002em;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.header__links-list-item {
  list-style-type: circle;
  padding-left: 5px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  padding: 0;
}

.header__logo-image {
  display: block;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.6px;
}

.address a {
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  margin-right: 37px;
}

.header__logo {
  min-width: 136px;
}

.main {
  grid-area: main;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
  z-index: -1;
}

.aligned-text, .aligned-text_center, .aligned-text_right {
  display: block;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 51%;
  padding: 167px 50px 50px 50px;
  z-index: 0;
  margin-bottom: 183px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  line-height: 1.14;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 108px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  margin-right: -0.3em; /* Для обнуления значения letter-spacing в заголовке бока cover */
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 0.84em;
  color: #fff;
  text-transform: uppercase;
}

.bet-button {
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 13px 33px 14px 31px;
}

.lots {
  margin-bottom: 122px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 30px 63px;
}

.lots__card-list-item {
  list-style-type: none;
  max-width: 334px;
  width: 100%;
  min-height: 595px;
}

.card-link {
  text-decoration: none;
  height: 100%;
  display: block;
}

.card {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  padding: 49px 39px 46px 39px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-link .card .card__title {
  text-decoration: underline;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
}

.card__title, .card__text {
  line-height: 1.2;
  color: #fff;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  margin: 32px 63px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.about {
  display: grid;
  grid-template-columns: 311px 1fr;
  margin-left: 71px;
  margin-bottom: 180px;
}

.about__logo {
  background-color: #000;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  align-content: center;
  margin-top: 7px;
}

.about__text {
  grid-column: 2;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 7px;
  max-width: 688px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  padding: 0 50px 82px 50px;
}

.footer__menu-list, .footer__social-list {
  list-style-type: none;
}

.footer__menu-list-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.18px;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}